li{
    list-style-type:none;
}
.gallery {
    --d: 30s;
    /* duration */
    display: grid;
    overflow: hidden;
    font-size: 28px;
    width: 380px;
    -webkit-mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
  }
  div .container{
    position: relative;
  }
  .gallery > img {
    grid-area: 1/1;
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: cover;
    animation: r var(--d) linear infinite;
  }
  
  .gallery > img:nth-child(2) {
    animation-delay: calc(-0.2*var(--d));
  }
  
  .gallery > img:nth-child(3) {
    animation-delay: calc(-0.4*var(--d));
  }
  
  .gallery > img:nth-child(4) {
    animation-delay: calc(-0.6*var(--d));
  }
  
  .gallery > img:nth-child(5) {
    animation-delay: calc(-0.8*var(--d));
  }
  
  @keyframes r {
    80% {
      transform: translate(-400%);
    }
    80.01% {
      transform: translate(100%);
    }
  }
.list-tour li{
margin: 20px;
position: relative;

}
.list-tour{}



.tour-grid{
    display: flex;
    margin-top: 100px;
   
}
.tour-grid p{
    font-size: 20px;
}
.tour-grid2{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
   
}
.general{
    width: 70%;margin-left: 250px;
    
    text-align: center;
}
.slide-img{
    width: 100%;
}



/* hover hiden */




.parent-element-hover img{
    margin: 6px;
    width: 15px !important;
    height: 15px !important;
}


.hidden-element-hover {
    visibility: hidden;
    opacity: 0;
    
    margin-left: 50px;
   
    z-index: 7;
    z-index: 1;
    text-align: center;
    
    background-color: white;
    position: absolute;
    text-align: center;
   
    
   
    
   
    transition: 
    
        visibility 0s, opacity 0.5s ease;
}

.parent-element-hover:hover 
.hidden-element-hover {
    
    visibility: visible;
    opacity: 1;
}

 
.hidden-element-hover p{
    font-weight: bolder;
   
   
}
