/* <<<start upliscixe */
@media(max-width:800px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
       
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
       
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
       
        
    }
    .hidden-element-ufliscixe-bottom-last {
        
        margin-left: 55px !important;
    }
}
@media(max-width:712px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
       
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
       
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
       
        
    }
    .hidden-element-ufliscixe-bottom-last {
        
        margin-left: 55px !important;
    }
}
@media(max-width:600px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 250px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 300px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 300px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 500px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 120px !important;
        margin-left: 55px !important;
    }
     /* mcxetaaaaa */
     .hidden-element-mcxeta {
        margin-left: 55px !important;
        height: 300px !important;
    }
    .hidden-element-mcxeta-second{
        margin-left: 55px !important;
        height: 230px !important;
        
    }
    .hidden-element-mcxeta-bottom{
        margin-left: 55px !important;
        height: 250px !important;
        
    }
    .hidden-element-mcxeta-bottom-left{
        margin-left: 55px !important;
        height: 250px !important;
        
    }
    .hidden-element-mcxeta-bottom-last{
        margin-left: 55px !important;
        height: 400px !important;
        
    }

        /* city of love */
        .hidden-element-love {
            margin-left: 55px !important;
            
        }
        .hidden-element-love-second{
            margin-left: 55px !important;
            
            
    
        }
        .hidden-element-love-bottom {
            margin-left: 55px !important;
           
    
        }
        .hidden-element-love-bottom-second {
            margin-left: 55px !important;
           
        }
        .hidden-element-love-bottom-third {
            margin-left: 55px !important;
            
        }
        .hidden-element-love-bottom-left{
            margin-left: 55px !important;
            
    
        }
        .hidden-element-love-bottom-last{
            margin-left: 55px !important;
            
        }
    
}
@media(max-width:480px){
  
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 340px !important;
        
    }
   
}
@media(max-width:430px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 300px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 400px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 400px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 610px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 180px !important;
        margin-left: 55px !important;
    }
        /* mcxetaaaaa */
      
        .hidden-element-mcxeta-second{
            margin-left: 55px !important;
            height: 250px !important;
            
        }
      
}
@media(max-width:414px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 330px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 450px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 400px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 650px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 180px !important;
        margin-left: 55px !important;
    }
        /* mcxetaaaaa */
      
        .hidden-element-mcxeta-second{
            margin-left: 55px !important;
            height: 250px !important;
            
        }
        .hidden-element-mcxeta-bottom{
            margin-left: 55px !important;
            height: 300px !important;
            
        }
      
        .hidden-element-mcxeta-bottom-last{
            margin-left: 55px !important;
            height: 450px !important;
            
        }
        
}
@media(max-width:412px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 330px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 450px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 400px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 650px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 180px !important;
        margin-left: 55px !important;
    }
        /* mcxetaaaaa */
        
        .hidden-element-mcxeta-second{
            margin-left: 55px !important;
            height: 300px !important;
            
        }
        .hidden-element-mcxeta-bottom{
            margin-left: 55px !important;
            height: 300px !important;
            
        }
        .hidden-element-mcxeta-bottom-left{
            margin-left: 55px !important;
            height: 250px !important;
            
        }
        .hidden-element-mcxeta-bottom-last{
            margin-left: 55px !important;
            height: 450px !important;
            
        }
            /* city of love */
    .hidden-element-love {
        margin-left: 55px !important;
        height: 280px !important;
    }
    .hidden-element-love-second{
        margin-left: 55px !important;
        height: 330px !important;
        

    }
    .hidden-element-love-bottom {
        margin-left: 55px !important;
        height: 420px !important;

    }
   
    
    .hidden-element-love-bottom-left{
        margin-left: 55px !important;
        height: 200px !important;

    }
   

}
@media(max-width:393px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 320px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 450px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 450px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 700px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 200px !important;
        margin-left: 55px !important;
    }
        /* mcxetaaaaa */
        .hidden-element-mcxeta {
            margin-left: 55px !important;
            height: 330px !important;
        }
        .hidden-element-mcxeta-second{
            margin-left: 55px !important;
            height: 300px !important;
            
        }
      
        .hidden-element-mcxeta-bottom-last{
            margin-left: 55px !important;
            height: 470px !important;
            
        }
}
@media(max-width:390px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 370px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 450px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 450px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 700px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 200px !important;
        margin-left: 55px !important;
    }
}
@media(max-width:384px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 370px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 530px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 480px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 700px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 200px !important;
        margin-left: 55px !important;
    }
        /* mcxetaaaaa */
        .hidden-element-mcxeta {
            margin-left: 55px !important;
            height: 370px !important;
        }
        .hidden-element-mcxeta-second{
            margin-left: 55px !important;
            height: 300px !important;
            
        }
        .hidden-element-mcxeta-bottom{
            margin-left: 55px !important;
            height: 320px !important;
            
        }
        .hidden-element-mcxeta-bottom-left{
            margin-left: 55px !important;
            height: 280px !important;
            
        }
        .hidden-element-mcxeta-bottom-last{
            margin-left: 55px !important;
            height: 500px !important;
            
        }
            /* city of love */
    .hidden-element-love {
        margin-left: 55px !important;
        height: 300px !important;
    }
    .hidden-element-love-second{
        margin-left: 55px !important;
        height: 350px !important;
        

    }
    .hidden-element-love-bottom {
        margin-left: 55px !important;
        height: 450px !important;

    }
    .hidden-element-love-bottom-second {
        margin-left: 55px !important;
        height: 290px !important;
    }
    .hidden-element-love-bottom-third {
        margin-left: 55px !important;
        height: 200px !important;
    }
    .hidden-element-love-bottom-left{
        margin-left: 55px !important;
        height: 200px !important;

    }
    .hidden-element-love-bottom-last{
        margin-left: 55px !important;
        height: 230px !important;
    }

}
@media(max-width:375px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 370px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 500px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 480px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 730px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 200px !important;
        margin-left: 55px !important;
    }
}
@media(max-width:360px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 420px !important;
    }
   
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 550px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 530px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 850px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 200px !important;
        margin-left: 55px !important;
    }

    /* mcxetaaaa */
    .hidden-element-mcxeta {
        margin-left: 55px !important;
        height: 400px !important;
    }
    .hidden-element-mcxeta-second{
        margin-left: 55px !important;
        height: 320px !important;
        
    }
    .hidden-element-mcxeta-bottom{
        margin-left: 55px !important;
        height: 350px !important;
        
    }
    .hidden-element-mcxeta-bottom-left{
        margin-left: 55px !important;
        height: 300px !important;
        
    }
    .hidden-element-mcxeta-bottom-last{
        margin-left: 55px !important;
        height: 550px !important;
        
    }

    /* city of love */
    .hidden-element-love {
        margin-left: 55px !important;
        height: 300px !important;
    }
    .hidden-element-love-second{
        margin-left: 55px !important;
        height: 400px !important;
        

    }
    .hidden-element-love-bottom {
        margin-left: 55px !important;
        height: 500px !important;

    }
    .hidden-element-love-bottom-second {
        margin-left: 55px !important;
        height: 320px !important;
    }
    .hidden-element-love-bottom-third {
        margin-left: 55px !important;
        height: 200px !important;
    }
    .hidden-element-love-bottom-left{
        margin-left: 55px !important;
        height: 200px !important;

    }
    .hidden-element-love-bottom-last{
        margin-left: 55px !important;
        height: 230px !important;
    }

    
}
@media(max-width:344px){
        /* mcxetaaaaa */
        .hidden-element-mcxeta {
            margin-left: 55px !important;
            height: 450px !important;
        }
        .hidden-element-mcxeta-second{
            margin-left: 55px !important;
            height: 370px !important;
            
        }
        
}
@media(max-width:320px){
    .hidden-element-ufliscixe {
        margin-left: 55px !important;
        height: 450px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 640px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 620px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 1000px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 250px !important;
        margin-left: 55px !important;
    }
    /* mcxetaaaaa */
    .hidden-element-mcxeta {
        margin-left: 55px !important;
        height: 470px !important;
    }
    .hidden-element-mcxeta-second{
        margin-left: 55px !important;
        height: 400px !important;
        
    }
    .hidden-element-mcxeta-bottom{
        margin-left: 55px !important;
        height: 380px !important;
        
    }
    .hidden-element-mcxeta-bottom-left{
        margin-left: 55px !important;
        height: 350px !important;
        
    }
    .hidden-element-mcxeta-bottom-last{
        margin-left: 55px !important;
        height: 650px !important;
        
    }
      /* city of love */
      .hidden-element-love {
        margin-left: 55px !important;
        height: 400px !important;
        
    }
    .hidden-element-love-second{
        margin-left: 55px !important;
        height: 450px !important;
        
        

    }
    .hidden-element-love-bottom {
        margin-left: 55px !important;
        height: 580px !important;
       

    }
    .hidden-element-love-bottom-second {
        margin-left: 55px !important;
        height: 420px !important;
       
    }
    .hidden-element-love-bottom-third {
        margin-left: 55px !important;
        height: 300px !important;
        
    }
    .hidden-element-love-bottom-left{
        margin-left: 55px !important;
        height: 250px !important;

    }
    .hidden-element-love-bottom-last{
        margin-left: 55px !important;
        
    }
}
@media(max-width:240px){
    .hidden-element-ufliscixe  {
        margin-left: 55px !important;
        height: 930px !important;
    }
    .hidden-element-ufliscixe-second{
        margin-left: 55px !important;
        height: 1150px !important;
        
    }
    .hidden-element-ufliscixe-bottom{
        margin-left: 55px !important;
        height: 1050px !important;
        
    }
      .hidden-element-ufliscixe-bottom-left{
        margin-left: 55px !important;
        height: 1790px !important;
        
    }
    .hidden-element-ufliscixe-bottom-last {
        height: 420px !important;
        margin-left: 55px !important;
    }

        /* mcxetaaaaa */
        .hidden-element-mcxeta {
            margin-left: 55px !important;
            height: 890px !important;
        }
        .hidden-element-mcxeta-second{
            margin-left: 55px !important;
            height: 750px !important;
            
        }
        .hidden-element-mcxeta-bottom{
            margin-left: 55px !important;
            height: 700px !important;
            
        }
        .hidden-element-mcxeta-bottom-left{
            margin-left: 55px !important;
            height: 630px !important;
            
        }
        .hidden-element-mcxeta-bottom-last{
            margin-left: 55px !important;
            height: 1200px !important;
            
        }
}
